/* Contact Page */
.contact-heading h3 {
  text-align: center;
  font-size: 30px;
}
.contact-container {
  display: block;
}

/* Contact Form */
.inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
}
#autob{
  /* width:70%; */
  width:100%;
  /* float: left; */
}
#autob h1{
  padding: 14px;
  font-size: 2.5em;
}
.enumerations{
  
}
.enumerations h4{
  font-size: 1.6em;
  color:#474e5d;
  font-weight: 900;
  text-align: center;
}
.enumerations p{
  text-align: center;
}
#services,#wwd{
  width:80%;
  margin: 0 auto 100px auto;
  
}
#services h3,#wwd h3{
  width:fit-content;
  font-size: 2.5em;
  text-align: center;
  margin: 30px auto;
  border-bottom: 5px solid #474e5d;;

  
}
#wwd p{
  text-align: center;
  font-size: 1.3em;
  line-height: 200%;
}
.service{
  width:100%;
  /* border:2px solid brown; */
}
.hidden-text{
  display: none;
}
.service figure{
  margin: 10px auto;
  width: fit-content;
}
.service img{
  width:240px;
}
#autob p{
padding: 14px;
line-height: 200%;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#autob img{
  /* width:50%; */
  width:100%;
  margin-top: -10px;
  /* padding: 14px; */
  /* float:left; */
}
#autob h3{
  padding: 14px;
  font-size: 1.5em;
}
#naside{
  /* width:28%; */
  width:40%;
  padding:14px;
 
  
  /* float: right; */
}


#table{
  /* padding:14px; */
  clear: both;
  width: 100%;
 
 
}
table{
  table-layout: fixed;
  width: 100%;
  
}
#table thead{
  background-color: black;
  color: white;
  font-size: 0.5em;
  
}
#table th{
  /* padding:14px; */
}
#table td{
  width:200px;
  font-size:0.4em;
  /* padding:14px; */
}
.inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 48%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button {
  border: 1px solid black;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  border: 1px solid black;
  background: white;
  color: black;
}
textarea {
  width: 97.5%;
  height: 150px;
  margin: 5px 10px 5px 0;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ddd;
}
form {
  padding: 20px 200px;
  text-align: center;
}

/* Contact Page */

/* News Letter */

.news-letter {
  margin-top: 10%;
  border: 1px solid black;
  padding: 25px 10px;
  text-align: center;
}

.news-letter h3,
h4 {
  margin-bottom: 5px;
  font-weight: 300;
}

.news-letter input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 11px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 74%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* News Letter */

/* Meet My Team */

.column {
  float: left;
  width: 16%;
  margin-bottom: 16px;
  padding: 0 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button-team {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button-team:hover {
  background-color: white;
}
footer{
  clear: both;
}
@media only screen and (min-width: 860px) {
  #autob{
    /* width:70%; */
    width:68%;
    margin:0 auto;
}
#banner figure{
  width:75%;
  margin: 0 auto;

}
#banner img{
  width:100%;

}
#autob img{
    width:50%;
   
    margin-top: -10px;
    padding: 14px;
    float:left;
}
.column1,.column2{
    width:49%;
}
.column1{
    float: left;
}
.column2{
    float: right;
}
#naside{
    /* width:28%; */
    width:28%;
    padding:14px;
    float: left;
    position: absolute;
    top:300px;
   
    
    /* float: right; */
}
table, td,th{
    padding: 14px;

}
#table thead{
    font-size: 0.9em;
    
}

#table td{
    font-size:0.8em;
    /* padding:14px; */
}
}
@media screen and (min-width: 860px) {
  .enumerations{
    display: flex;
  }
  .service{
    width:33%;
  }
  .hidden-text{
    display: block;
  }
}
@media screen and (max-width: 650px) {
  
  .column {
    width: 100%;
    display: block;
  }
}

/* Styles for profile page */

.profile-image {
  align-items: center;
}